.App {
    justify-content: center;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
  }
  
  .App-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:3rem;
  }
  
  .App-main__gc-logo{
    max-width:100px;
    max-height:100px;
  }

  @font-face {
    font-family: Comfortaa;
    src: url(../assets/Comfortaa/static/Comfortaa-Regular.ttf);
  }

  @font-face {
    font-family: CodaCaption;
    src: url(../assets/Coda_Caption/CodaCaption-ExtraBold.ttf);
  }

body {
    font-family: "Comfortaa", "Roboto";
  }
  
h1.title{
  font-family: 'CodaCaption';
  font-style: normal;
  font-weight: 800;
  font-size: 3rem;
  text-transform: uppercase;
  line-height: 111px;
  /* identical to box height */
  color: #F2FF04;
}